<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="hara_takaaki">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="hara_takaaki"/>
        <property name="java-output-path" value="/hara_takaaki/WebContent/WEB-INFyClasses"/>
    </wb-module>
</project-modules>
